#(backup.sql ignoro o arquivo backup.sql)
*.sql
#(*.sql ignoro todos os arquivos .sql)
#(rascunhos.txt ignoro o arquivo rascunhos.txt)
*.txt 
#(*.txt ignoro todos os arquivos .txt)

#(teste/* ignoro todos os arquivos dentro da pasta teste)

#(teste/ ignoro a pasta teste e tudo que tem dentro dela)